body {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #507dca;
    font-size: 49px;
    line-height: 50px;
    font-weight: 300;
}

svg  {
    fill: 'blue';
    stroke: 'blue';
}